<h1>Gestion du Parc</h1>

<!--
 <mat-card class="mat-elevation-z8">
<p-table #dt [columns]="cols" [value]="materiels" selectionMode="multiple" [(selection)]="selectedMateriels">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of cols">
        <input pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="caption">

  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:right">

      <button type="button" pButton icon="fa fa-plus" label="Exporter les données" (click)="dt.exportCSV()"></button>
    </div>
  </ng-template>
</p-table>
</mat-card>

-->

<!--
<div>
  <h1>Liste des équipements</h1>

  <mat-card   class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

       colonne Type de matériel icone
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type </th>
        <td mat-cell *matCellDef="let materiel">

          <div *ngIf="materiel.categorie.nom === 'telephone'">
            <img class='typeMateriel' src="../../../assets/img/iconmonstr-smartphone-4-48.png" alt="smartphone">
          </div>
          <div *ngIf="materiel.categorie.nom === 'tablette'">
            <img class="typeMateriel" src="../../../assets/img/iconmonstr-tablet-6-48.png" alt="tablette">
          </div>
          <div *ngIf="materiel.categorie.nom === 'PC portable'">
            <img class="typeMateriel" src="../../../assets/img/iconmonstr-laptop-4-48.png" alt="PC portable">
          </div>
          <div *ngIf="materiel.categorie.nom === 'routeur'">
            <img class="typeMateriel" src="../../../assets/img/routeur.jpg" alt="routeur">
          </div>

      </ng-container>

      colonne Marque
      <ng-container matColumnDef="marque">
        <th mat-header-cell *matHeaderCellDef>Marque </th>
        <td mat-cell *matCellDef="let materiel">{{materiel.marque}}</td>
      </ng-container>


      colonne Modèle
      <ng-container matColumnDef="modele">
        <th mat-header-cell *matHeaderCellDef> Modèle </th>
        <td mat-cell *matCellDef="let materiel"> {{materiel.modele}} </td>
      </ng-container>


       colonne version de système d'exploitation
      <ng-container matColumnDef="os">
        <th mat-header-cell *matHeaderCellDef> OS </th>
        <td mat-cell *matCellDef="let materiel"> {{materiel.os}} </td>
      </ng-container>

       colonne statut de l'appareil
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let materiel"> <a class="button" routerLink="/reservation/{{materiel.id}}"></a>  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>

-->

<!--
<mat-card>
<p-table #dt [columns]="cols" [value]="materiels" selectionMode="single" [(selection)]="selectedMateriel" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">

  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:right">

      <button type="button" pButton icon="fa fa-plus" label="Exporter les données" (click)="dt.exportCSV()"></button>
    </div>
  </ng-template>
</p-table>
</mat-card>
-->
<!-- nouveau tableau -->

<mat-card class="mat-elevation-z8">
  <p-table #dt [columns]="cols" [value]="materiels" selectionMode="single" [(selection)]="selectedMateriel" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="7">
    <ng-template pTemplate="caption">
      cliquez sur un équipement pour le modifier ou le supprimer
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Nouvel Equipement"></button>
        <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Exporter" (click)="dt.exportCSV()" style="float:right"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Details de l'équipement" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"  [style]="{width: '280px'}">
    <div class="ui-g ui-fluid" *ngIf="materiel">
      <!--<div class="ui-g-12">
         <div class="ui-g-4">
          <label for="id">Id</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="id" [(ngModel)]="pret.id" />
        </div>
      </div> -->
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="marque">Marque</label>
        </div>
        <div class="ui-g-8">
           <input pInputText id="marque" [(ngModel)]="materiel.marque" />

        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="modele">Modèle</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="modele" [(ngModel)]="materiel.modele" />

        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="os">OS</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="os" [(ngModel)]="materiel.os" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="verOs">Version OS</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="verOs" [(ngModel)]="materiel.verOs" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="imei">N° IMEI</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="imei" [(ngModel)]="materiel.imei" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="serie">N° de série</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="serie" [(ngModel)]="materiel.serie" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="categorie">Categorie</label>
        </div>
        <div class="ui-g-8" *ngIf="materiel.categorie || enCreation">
          <input pInputText id="categorie" [(ngModel)]="materiel.categorie.nom" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="donneesMateriel">Compte Utilisateur</label>
        </div>
        <div class="ui-g-8" *ngIf="materiel.donneesMateriel.compteUtilisateur || enCreation">
          <input pInputText id="donneesMateriel" [(ngModel)]="materiel.donneesMateriel.compteUtilisateur" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="mdputilisateur">mot de passe</label>
        </div>
        <div class="ui-g-8" *ngIf="materiel.donneesMateriel.mdpUtilisateur || enCreation">
          <input pInputText id="mdputilisateur" [(ngModel)]="materiel.donneesMateriel.mdpUtilisateur" />
        </div>
      </div><!--
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="compteAdmin">mot de passe</label>
        </div>
        <div class="ui-g-8" *ngIf="materiel.donneesMateriel.compteAdministrateur || enCreation">
          <input pInputText id="compteAdmin" [(ngModel)]="materiel.donneesMateriel.compteAdministrateur" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="mdpAdmin">mot de passe</label>
        </div>
        <div class="ui-g-8" *ngIf="materiel.donneesMateriel.mdpAdministrateur || enCreation">
          <input pInputText id="mdpAdmin" [(ngModel)]="materiel.donneesMateriel.mdpAdministrateur" />
        </div>
      </div> -->

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Supprimer"></button>
        <button type="button" pButton icon="fa fa-check" (click)="save()" label="Enregistrer"></button>
      </div>
    </p-footer>
  </p-dialog>
</mat-card>

