<h2>Gestion du Parc</h2>


<mat-card class="mat-elevation-z8">
<p-table #dt [columns]="cols" [value]="materiels" selectionMode="multiple" [(selection)]="selectedMateriels">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
      <button type="button" pButton icon="fa fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
</mat-card>


<h3 class="first">Basic</h3>
<p-table [value]="materiels">
  <ng-template pTemplate="header">
    <tr>
      <th>Marque</th>
      <th>Modèle</th>
      <th>OS</th>
      <th>Serie</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" ngFor="let materiel of selectedMateriels">
    <tr>
      <td>{{materiel.marque}}</td>
      <td>{{materiel.modele}}</td>
      <td>{{materiel.os}}</td>
      <td>{{materiel.serie}}</td>
    </tr>
  </ng-template>
</p-table>


