/*

.formulaireRecherche {

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  display: flex;
  width: 100%;
  justify-content: center;
}

mat-card
{
  display: flex;
  justify-content: center;

}

.calendrier {
  display: flex;
  width: 100%;
  justify-content: center;
}

span {
  text-align: center;
}

*/

