/* #footer
{

   width: 100%;
   display: flex;
   justify-content: space-around;
   background-color: #0C4DA2;

} */
/*
.footerElement
{
  font-size: 100%;

} */

/*
.laposte
{

  max-width: 30%;
  height: auto;
}

*/

mat-card {
 /* width: 100%; */
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
 /* margin: 0px; */
  /*background: white;*/
  background-color: #F0F1F3;
/*  background-color: #0C4DA2; */

}




