/* #footer
{

   width: 100%;
   display: flex;
   justify-content: space-around;
   background-color: #0C4DA2;

} */
/*
.footerElement
{
  font-size: 100%;

} */

/*
.laposte
{

  height: 15%;
  min-height: 10%;
}

*/
mat-card {
 /* width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0px; */
  background: lightskyblue;
/*  background-color: #0C4DA2; */
}

#footer {
  max-width: 100em;
}
