<div>
  <h1>Liste des prêts</h1>
  <mat-card class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- colonne Type de matériel -->
      <!--
      <ng-container matColumnDef="typeMat">
        <th mat-header-cell *matHeaderCellDef>Type </th>
        <td mat-cell *matCellDef="let materiel">{{materiel.categorie.nom}} </td>
      </ng-container> -->

      <!-- colonne Type de matériel icone -->
      <!--
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Type </th>
        <td mat-cell *matCellDef="let materiel"><img class='typeMateriel' src="../../../assets/img/iconmonstr-smartphone-4-48.png" alt=""> </td>
      </ng-container>
  -->
      <!-- colonne id du pret -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>N° du prêt </th>
        <td mat-cell *matCellDef="let pret">{{pret.id}}</td>

      </ng-container>


      <!-- colonne date de début du prêt -->
      <ng-container matColumnDef="date de début">
        <th mat-header-cell *matHeaderCellDef> Date de début </th>
        <td mat-cell *matCellDef="let pret"> {{pret.debut}} </td>
      </ng-container>


      <!-- colonne date de fin théorique du prêt -->
      <ng-container matColumnDef="date de fin">
        <th mat-header-cell *matHeaderCellDef> Date de fin </th>
        <td mat-cell *matCellDef="let pret"> {{pret.finPrevue}} </td>
      </ng-container>

      <!-- colonne date de restitution réelle du prêt -->
      <ng-container matColumnDef="date restitution">
        <th mat-header-cell *matHeaderCellDef> Date de restitution </th>
        <td mat-cell *matCellDef="let pret">{{pret.finReelle}}</td>
      </ng-container>

      <!-- colonne choix d'une sélection -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>


      <!-- colonne choix d'une action
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Choix d'une action</th>
        <td mat-cell *matCellDef="let pret">
          <mat-form-field>
            <mat-label>Action</mat-label>
            <mat-select>
              <mat-option *ngFor="let menu of menus" [value]="menu.value">
                {{menu.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container> -->



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

</div>
