table {
  width: 100%;

}

h1 {
  font-family: montserrat;
  text-align: center;
}

mat-card {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  /* box-shadow: 8px 8px 12px #003DA5; */

}

@media (max-width: 600px) {
  .ui-button-success, .ui-button-warning, .ui-button-info {

    font-size: 10px;
  }
}


