<!--
<div id="menu">
  <div class="logo">
  <p>GestionMat'</p>
  </div>
  <div class="element">
    <button mat-button><a href="http://localhost:4200/accueil">Accueil</a></button>
  </div>
  <div class="element">
<button mat-button>Historique de mes prêts</button>
  </div>
  <div class="element">
<button mat-button>Demande de prêt</button>
  </div>

  <div class="element">
  <button mat-button>Gestion du Parc</button>
  </div>
  <div class="element">
  <button mat-button>Gestion des prêts</button>
  </div>
  <div id="recherche">
    <p>Recherche :</p>
  </div>
  <div class="elementRecherche">
  <form>

    <mat-form-field class="searchField">
      <input matInput class="inputSearch" >
    </mat-form-field>
  </form>
  </div>
</div>

-->
<!--
<mat-toolbar>
  <mat-toolbar-row>
    <span class="logo">GestionMat'</span>
    <span class="menu">Historique de mes prêts</span>
    <span class="menu">Demande de prêt</span>
    <span class="menu">Gestion du parc</span>
    <span class="menu">Gestion des prêts</span>
    <span class="searchField">Recherche :</span>
    <mat-form-field class="searchField">
      <input matInput class="inputSearch">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

-->




<!--
<div style="height: 100vh;">
  <mat-toolbar>

    <span>GestionMat'</span>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true"> -->
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
     <!-- <a href="#" mat-button class="menu">Historique de prêt</a>
      <a href="#" mat-button class="menu">Demande de prêt</a>
      <a href="#" mat-button class="menu">Gestion du parc</a>
      <a href="#" mat-button class="menu">Gestion des prêts</a>
      <a href="#" mat-button class="menu">Recherche</a>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <a href="#" (click)="sidenav.toggle()">Voir menu</a>
    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a href="#" mat-button>Historique de prêt</a>
        <a href="#" mat-button>Demande de prêt</a>
        <a href="#" mat-button>Gestion du parc</a>
        <a href="#" mat-button>Gestion des prêts</a>
        <a href="#" mat-button>Recherche</a>
      </div>
    </mat-sidenav>

  </mat-sidenav-container>
</div>

-->
