<h1>Détail d'un équipement</h1>

<mat-card class="mat-elevation-z8">
   <mat-card-content>
    <p>Categorie : <strong>{{ materielSelected.categorie.nom }}</strong></p>
    <p>Marque : <strong>{{materielSelected.marque}}</strong> </p>
    <p>Modèle : <strong>{{materielSelected.modele}}</strong></p>
    <p>Système d'exploitation : <strong>{{materielSelected.os}}</strong></p>
    <p>Version système d'exploitation : <strong>{{materielSelected.verOs}}</strong></p>
  </mat-card-content>


</mat-card>
<h1>Calendrier des réservations</h1>
<mat-card class="mat-elevation-z8">
<p-fullCalendar [events]="events" [options]="options" class="fullcalendrier" ></p-fullCalendar>
</mat-card>
<mat-card>
  <button type="button" pButton icon="fa fa-check" (click)="save()" label="Enregistrer"></button>
</mat-card>


<!--
<mat-card class="mat-elevation-z8">
 <p-fullCalendar [events]="events" [options]="options" class="fullcalendrier"></p-fullCalendar>
</mat-card> -->

