/*

 #conteneur
{
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.paveIdentification
{
color: royalblue;
}

.cadre
{
  background-color: lightgrey;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(115, 49, 177, 0.8);
  color: blue;
}


.validation
{
  background-color: blue;
  color: white;



}

.saisieIdentifiant, .saisiemdp{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(115, 49, 177, 0.8);
}

*/

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}
.mat-elevation-z8 {
/*  width: 25%;
  border: 2px solid black;
  margin-top: 40vh;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto; */

  width: 20%;
  min-width: 15em;
  /* border: 2px solid black; */
  /* margin-top: 10%;
  margin-left: 25%; */
  margin-top: 40vh;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
}
.signInButton {
  margin-left: 30%;
}
